.bar {
   	background: linear-gradient(to bottom, #ff4141 0%,#ff674d 100%);
    position: relative;
}
.bar h1 {
    color: #fff;
}
.bar a img {
    width: 0.6rem;
    height: 1rem;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
}
.bar .back {
	z-index: 1000;
    position: absolute;
    left: 0.5rem;
    width: 3rem;
}
#bind_phoneNumber{
	background-color: #f9f9f9;
}
#bind_phoneNumber .content .thesame {
	margin-top: 0.7rem;
	background-color: #fff;
	height: 2.6rem;
	line-height: 2.6rem;
	text-indent: 0.6rem;
	position: relative;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
    -webkit-flex-flow:row;
    -moz-flex-flow:row;
    flex-flow: row;
    align-items: center;
    -webkit-align-items:center;
    -moz-align-items:center;
}
#bind_phoneNumber .content .thesame label {
	font-size: 0.75rem;
}
#bind_phoneNumber .content .thesame input {
	border:none;
	text-indent: 0.6rem;
	height: 1.2rem;
	font-size: 0.7rem;
	flex: 1;
	-webkit-flex:1;
	-moz-flex:1;
}
#bind_phoneNumber .content .verify .get {
	display: inline-block;
	position: absolute;
	height: 1.8rem;
	line-height: 1.8rem;
	background-color: #fc5a28;
	text-align: center;
	border: none;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	top: 0.4rem;
	right: 0.6rem;
	border-radius: 0.9rem;
	color:#fff;
	font-size: 0.7rem;
	z-index: 3333;
}
#bind_phoneNumber .content .confirm {
	color:#fff;
	background-color: #dadada;
	width: 94%;
	height: 2rem;
	font-size: 0.75rem;
	position: absolute;
	top: 10rem;
	margin-left: 3%;
	border:none;
}
