.header {
    padding: 10px;
    height: 8rem;
    background: url(../images/exc_bgc.png);
    background-size: cover;
    color:#fff;
}
.header .buttons-row .button {
    border-color:#fff;
    color:#fff;
}
.header .buttons-row .button.active {
    background-color: #fff;
    color: #ff5e56;
}
#panel-left-demo .content-block {
    padding: 0;
    margin: 0;
}
.header .left .content_ .unit {
    font-size: 0.6rem;
    position: absolute; 
    right:-1.3rem; 
    bottom:0;
    line-height: 1rem;
}
.header .user-portrait {
    width: 1.5rem;
    margin-top:0.3rem;
}
.header .detail {
    font-size: 0.75rem;
    font-family: "Microsoft YaHei" !important;
    float: right;
    margin-top: 0.3rem;
}
.header .detail a {
	color:#fff;
}
.header .detail img {
    width:.8em;
}
.header p {
    margin: 0;
}
.header .user-integral {
    margin:0.7rem 0 0.1rem 0;
    font-size: 0.7rem;
    padding-left: 6rem;
    width: 100%;
    color:#ff9892;
}
.header .user-integral span{
    display: inline-block;
}
.header .user-integral i{
    width: 0.7rem;
    margin-left: 0.5rem;
    display: inline-block;
}
.header .user-asset {
    margin: 0;
    line-height: normal;
    margin-bottom: 0.5rem;
}
.header .user-asset .asset {
    font-size: 2rem;
    color:#fff;
    font-weight: bold;
}
.header .user-asset .asset {
    margin-left: 4.5rem;
}
.header .user-asset .sub {
    margin-left: 0.5rem;
}
#page-exchange .content {
    top:8rem;
}
#page-exchange .header .left {
    display: inline-block;
    margin-top: 1rem;
    padding-left: 0.8rem;
}
#page-exchange .header .left .title_ {
    font-size: 0.7rem;
    padding-left: 0.2rem;
}
#page-exchange .header .left .content_ {
    font-size: 1.8rem;
    line-height: 1.9rem;
    color:#ff7356;
    margin-top: 0.2rem;
}
#page-exchange .header .right .content_ .arrow_up {
    display: inline-block;
    height: 1.2rem;
    background: url('../images/red_arrow.png') no-repeat;
    background-size: 1rem 1.2rem;
    position: absolute;
    right:-0.8rem;
    bottom: 0rem;
    width: 1rem;
}
#page-exchange .header .right .content_ .zero {
	display: inline-block;
    height: 1.2rem;
    position: absolute;
    right: -0.2rem;
    bottom: 0.4rem;
    width: 1rem;
}
#page-exchange .header .right .content_ .arrow_down {
    display: inline-block;
    height: 1.2rem;
    background: url('../images/green_arrow.png') no-repeat;
    background-size: 1rem 1.2rem;
    position: absolute;
    right:-0.8rem;
    bottom: 0.2rem;
    width: 1rem;
}
#page-exchange .all_list .arrow_s_up {
    display: inline-block;
    background: url(../images/red_arrow.png) no-repeat;
    background-size: 0.6rem 0.8rem;
    width: 0.6rem;
    height: 0.8rem;
    position: absolute;
    right: -1rem;
    bottom: 0.8rem;
}
#page-exchange .all_list .arrow_s_down {
    display: inline-block;
    background:url('../images/green_arrow.png') no-repeat;
    background-size: 0.6rem 0.8rem;
    width: 0.6rem;
    height: 0.8rem;
    position:absolute; 
    right:-1rem; 
    bottom:0.8rem;
}
#page-exchange .all_list .zero {
    display: inline-block;
    width: 0.6rem;
    height: 0.8rem;
    position:absolute; 
    right: -1rem;
    bottom: 2.1rem;
    color: #999;
}
#page-exchange .header .right {
    float: right;
    display: inline-block;
    margin-top: 1rem;
    padding-right: 0.8rem;
}
#page-exchange .header .right .content_ {
    margin-top: 0.2rem;
    font-size: 1rem;
}

    /*内容部分*/
#page-exchange .all_list {
    padding:0 0.5rem;
}
#page-exchange .all_list .list {
    display: block;
    height:3.75rem;
    line-height:3.75rem;
    background-color: #fff;
    border-bottom: 1px dashed rgba(202,185,185,0.27);
}
#page-exchange .explain {
    height:2rem;
    background-color: #f9f9f9;
    color:#a7a7a7;
}
#page-exchange .explain .left {
    display: inline-block;
    width:50%;
    padding-left:1.6rem;
    height:2rem;
    line-height:2rem;
}
#page-exchange .explain .right {
    display: inline-block;
    width:50%;
    float: right;
    padding-right:1rem;
    height:2rem;
    line-height:2rem;

}
#page-exchange .explain .right .d_right {
    float: right;
    width:2.5rem;
    text-align: center;
}
#page-exchange .explain .right .d_left {
    display: inline-block;
    width:3.2rem;
    text-align: center;
}
#page-exchange .explain .right .d_right span {
    border:1px solid #fd5b47;
    padding:0px 6px;
    border-radius: 3px;
    color:#fd947f;
}
#page-exchange .all_list .left {
    display: inline-block;
    width:50%;
    padding-left:0.5rem;
}
#page-exchange .all_list .left .icon img {
    width: 1.1rem;
    vertical-align: middle;
    border-radius: 50%;
}
#page-exchange .all_list .left span{
    font-size: 0.7rem;
    color: #414a56;
    padding-left: 0.2rem;
}
#page-exchange .all_list .right .d_left {
    /*width:3.2rem;*/
    text-align: center;
    display: inline-block;
    color: #ff5b45;
}
#page-exchange .all_list .right {
    display: inline-block;
    width:50%;
    float: right;
    padding-right:0.6rem;
}
#page-exchange .all_list .right .d_right {
    float: right;
    width:2.5rem;
    text-align: center;
}

#panel-left-demo .content-block {
    padding: 0;
    margin: 0;
}
#panel-left-demo .content-block .header div {
    text-align: center;
    height: 100%;
}
#panel-left-demo .content-block .header img {
    width: 3rem;
    margin-top: 2.5rem;
}
#panel-left-demo .content-block .body img {
    width: 0.6rem;
}
#qb-lpanel2 .content-block .body a {
    display: block;
    height: 2.2rem;
    line-height: 2.2rem;
    text-indent: 0.8rem;
}
#panel-left-demo .content-block .body span {
    padding-left: 0.2rem;
}
#panel-left-demo  .content-block .body div {
    height: 2.2rem;
    line-height: 2.2rem;
    text-indent: 0.8rem;
}
    /*底部通栏*/
#page-index .bar-footer img {
    height:1rem;
    width:1rem;
    margin-top: 0.3rem;
}
#qb-lpanel2 .content-block {
    padding: 0;
    margin: 0;
}
#qb-lpanel2 .content-block .header div {
    text-align: center;
    height: 100%;
}
#qb-lpanel2 .content-block .header img {
    width: 3rem;
    margin-top: 2.5rem;
}
#qb-lpanel2 .content-block .body img {
    width: 0.6rem;
}
#qb-lpanel2 .content-block .body span {
    padding-left: 0.2rem;
}
#qb-lpanel2 .content-block .body a {
    display: block;
    height:2.2rem;
    line-height:2.2rem;
    text-indent:0.8rem;
}
#qb-lpanel2  .content-block .body div {
    height: 2.2rem;
    line-height: 2.2rem;
    text-indent: 0.8rem;
}
