.page {
	background-color: #fff;
}
#valuation header.bar {
	background: linear-gradient(to bottom, #ff4141 0%,#ff674d 100%);
}
#valuation header.bar a.icon {
    color: #fff;
}
#valuation header.bar .title {
    color: #fff;
}
#valuation .content_ .explain {
	width: 96%;
	margin:0 auto;
	margin-top: 0.5rem;
}
#valuation .content_ .explain p {
	margin-bottom: 0.6rem;
}