<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>市场</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="../../public/SUI/dist/css/sm.min.css">
<link rel="stylesheet" type="text/css" href="../../public/css/public.css">
<script type="text/javascript" src="../../public/scripts/zepto.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
<script src="../../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="market">
		<link rel="stylesheet" href="../../public/Swiper/dist/css/swiper.min.css" />
		<link href="../../public/market/styles/style.css" rel="stylesheet" type="text/css">
		<!--<link href="../../public/market/styles/owl.theme.css" rel="stylesheet" type="text/css">
		<link href="../../public/market/styles/font-awesome.css" rel="stylesheet" type="text/css">-->
		<header class="bar bar-nav">
		  <h1 class="title">市场</h1>
		</header>
		<div class="content">
			<div class="swiper-container" id="banner">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide"><img src="/hnair/images/market_banner_9.jpg" class="responsive-image" alt="img"></div>
		            <div class="swiper-slide"><img src="/hnair/images/market_banner_10.jpg" class="responsive-image" alt="img"></div>
		        </div>
		    </div>
			<div class="market_search">
			   <a href="/templates/market/searchPage.html"> <input name="market_search" value="" placeholder="搜索商品" ></a>
			</div>
			<div style="width:100%; margin-top:4%;">
				<div class="market_menu clearfix">
					<div>
						<a href="/templates/market/commodityClass.html"><img src="/hnair/images/market_classify.png">
						<span>分类</span></a>
					</div>
					<div>
						<a href="/templates/market/shoppingCar.html"><img src="/hnair/images/market_cart.png">
						<span style="width:45px;">购物车</span></a>
					</div>
					<div>
						<a href="/templates/market/myOrders.html"><img src="/hnair/images/market_trade.png">
						<span>订单</span></a>
					</div>
					<div>
						<a href="/templates/market/myCollect.html"><img src="/hnair/images/market_collect.png">
						<span>收藏</span></a>
					</div>
				</div>
			</div>
			<div style="width:100%; margin-top:4%;">
				<div class="menu-title">
					<span>热门市场</span>
				   <a href="/templates/market/commodityClass.html" class="menu-title-gengduo"><span >更多</span></a>
				</div>
			</div>
			<div style="width:100%; margin-top:1%;">
				<div class="hot-market clearfix">
					<div class="market_hot_one">			
						<div>
							<a href="/templates/market/marketShow.html">
								<img src="/hnair/images/market_1.png">
							</a>
						</div>
						
						<div>
							<a href="/templates/market/marketShow.html">
								<img src="/hnair/images/market_2.png">
							</a>
						</div>
						<div>
							<img src="/hnair/images/market_3.png">
						</div>
					</div>
					<div class="market_hot_two">
						<div >
							<a href="/templates/market/marketShow.html">
								<img src="/hnair/images/market_4.png">
							</a>
						</div>
						<div>

							<a href="/templates/market/marketShow.html">
							<img src="/hnair/images/market_5.png">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div style="width:100%; margin-top:2%;">
				<div class="menu-title">
					<span>品牌推荐</span>
					<a href="/templates/market/commodityClass.html" class="menu-title-gengduo"><span >更多</span></a>
				</div>
			</div>
			<div style="width:100%; margin-top:1%;margin-bottom:4%;">
				<div class="hot-market clearfix">
					<div class="market_hot_one">
						<div >
						   <a href="/templates/market/marketShow.html"><img src="/hnair/images/market_6.png"></a>
						</div>
						<div>
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/market_7.png"></a>
						</div>
						<div>
						<a href="/templates/market/marketShow.html"><img src="/hnair/images/market_8.png"></a>
						</div>
					</div>
				</div>
			</div>
			<div style="width:100%; margin-top:2%;">
				<div class="menu-title">
					<span>家用电器</span>
					<a href="/templates/market/commodityClass.html" class="menu-title-gengduo"><span >更多</span></a>
				</div>
			</div>
			<div style="width:100%; margin-top:1%;margin-bottom:4%;">
				<div class="hot-market clearfix">
					<div class="market_hot_one">
						<div >
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/jiadian-1.png"></a>
						</div>
						<div>
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/jiadian-2.png"></a>
						</div>
						<div>
							 <a href="/templates/market/marketShow.html"><img src="/hnair/images/jiadian-3.png"></a>
						</div>
					</div>
				</div>
			</div>


			<div style="width:100%; margin-top:2%;">
				<div class="menu-title">
					<span>时尚美妆</span>
					<a href="/templates/market/commodityClass.html" class="menu-title-gengduo"><span >更多</span></a>
				</div>
			</div>
			<div style="width:100%; margin-top:1%;margin-bottom:4%;">
				<div class="hot-market clearfix">
					<div class="market_hot_one">
						<div >
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/shangpin_img_02.png"></a>
						</div>
						<div>
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/shangpin_img_03.png"></a>
						</div>
						<div>
							 <a href="/templates/market/marketShow.html"><img src="/hnair/images/shangpin_img_04.png"></a>
						</div>
					</div>
				</div>
			</div>

			<div style="width:100%; margin-top:2%;">
				<div class="menu-title">
					<span>奢侈品</span>
					<a href="/templates/market/commodityClass.html" class="menu-title-gengduo"><span >更多</span></a>
				</div>
			</div>
			<div style="width:100%; margin-top:1%;margin-bottom:4%;">
				<div class="hot-market clearfix">
					<div class="market_hot_one">
						<div >
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/shangpin_img_05.png"></a>
						</div>
						<div>
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/zhubao-1.png"></a>
						</div>
						<div>
							 <a href="/templates/market/marketShow.html"><img src="/hnair/images/zhubao-2.png"></a>
						</div>
					</div>
				</div>
			</div>

			<div style="width:100%; margin-top:2%;">
				<div class="menu-title">
					<span>腕表珠宝</span>
					<a href="/templates/market/commodityClass.html" class="menu-title-gengduo"><span >更多</span></a>
				</div>
			</div>
			<div style="width:100%; margin-top:1%;margin-bottom:4%;">
				<div class="hot-market clearfix">
					<div class="market_hot_one">
						<div >
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/shangpin_img_06.jpg"></a>
						</div>
						<div>
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/shangpin_img_08.jpg"></a>
						</div>
						<div>
							 <a href="/templates/market/marketShow.html"><img src="/hnair/images/shangpin_img_09.jpg"></a>
						</div>
					</div>
				</div>
			</div>
			<div style="width:100%; margin-top:2%;">
				<div class="menu-title">
					<span>电脑周边</span>
					<a href="/templates/market/commodityClass.html" class="menu-title-gengduo"><span >更多</span></a>
				</div>
			</div>
			<div style="width:100%; margin-top:1%;margin-bottom:4%;">
				<div class="hot-market clearfix">
					<div class="market_hot_one">
						<div >
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/diannao-1.png"></a>
						</div>
						<div>
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/diannao-2.png"></a>
						</div>
						<div>
							 <a href="/templates/market/marketShow.html"><img src="/hnair/images/diannao-3.png"></a>
						</div>
					</div>
				</div>
			</div>
			<div style="width:100%; margin-top:2%;">
				<div class="menu-title">
					<span>酒店住宿</span>
					<a href="/templates/market/commodityClass.html" class="menu-title-gengduo"><span >更多</span></a>
				</div>
			</div>
			<div style="width:100%; margin-top:1%;margin-bottom:4%;">
				<div class="hot-market">
					<div class="market_hot_one clearfix">
						<div >
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/jiudian-1.png"></a>
						</div>
						<div>
							<a href="/templates/market/marketShow.html"><img src="/hnair/images/jiudian-2.png"></a>
						</div>
						<div>
							 <a href="/templates/market/marketShow.html"><img src="/hnair/images/jiudian-3.png"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="decoration"></div>
		</div>
		<!--底部栏-->
        <nav class="bar bar-tab bar-footer">
            <a class="tab-item external" href="/templates/wallet.html">
                <i class="footer-icon icon-qb"></i>
                <span class="tab-label tab_bottom">钱包</span>
            </a>
            <a class="tab-item external" href="/templates/exchange.html">
                <i class="footer-icon icon-dh"></i>
                <span class="tab-label tab_bottom">兑换</span>
            </a>
            <a class="tab-item external" href="/project">
                <i class="footer-icon icon-gy"></i>
                <span class="tab-label tab_bottom">公益</span>
            </a>
            <a class="tab-item external active" href="/templates/market/market.html">
                <i class="footer-icon icon-shch"></i>
                <span class="tab-label tab_bottom">商城</span>
            </a>
        </nav>
	</div>
</div>
</body>
</html>