<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>我的订单</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="../../public/SUI/dist/css/sm.min.css">
<link rel="stylesheet" type="text/css" href="../../public/css/public.css">
<script type="text/javascript" src="../../public/scripts/zepto.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
<script src="../../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="marketShow">
		<link rel="stylesheet" href="../../public/Swiper/dist/css/swiper.min.css" />
		<link href="../../public/market/styles/style.css" rel="stylesheet" type="text/css">
		<header class="bar bar-nav">
		  <a class="icon icon-left pull-left back" style="color:#fff;"></a>
		  <h1 class="title">商品详情</h1>
		</header>
		<div class="content">
			<div class="slider-container" >
		        <div><img src="/hnair/images/market_show_banner.png" style="width:100%" alt="img"></div>
		        <div class="market-banner-title">
		            <span >佳能相机</span>
		            <span>佳能相机1D</span>
		        </div>
		    </div>
		    <div style="width:100%; margin-top:3%;background:#fff;padding:0 3%;">
			    <div style="border-bottom: 1px solid #f6f6f6;">
			        <div class="market-show-title">
			            <span>商品详情</span>
			        </div>
			    </div>
			    <div style="width:100%;padding: 0.5rem 0;;" class="market-show-goods">
			    	<div class="swiper-container">
				        <div class="swiper-wrapper">
				            <div class="swiper-slide"><img src="/hnair/images/market-show-1.png"></div>
				            <div class="swiper-slide"><img src="/hnair/images/market-show-2.png"></div>
				            <div class="swiper-slide"><img src="/hnair/images/market-show-3.png"></div>
				            <div class="swiper-slide"><img src="/hnair/images/market-show-4.png"></div>
				            <div class="swiper-slide"><img src="/hnair/images/market-show-5.png"></div>
				        </div>
				    </div>
			    </div>
			</div>
			<div style="width:100%; margin-top:3%;background:#fff;padding:0 3%;">
			    <div style="border-bottom: 1px solid #f6f6f6;">
			        <div class="market-show-title">
			            <span>商品介绍</span>
			        </div>
			    </div>
			    <div style="width:100%; margin-top:3%; overflow: scroll;text-indent:2em;line-height: 200%;" class="market-show-goods">  佳能顶级单反1D系列一直以耐用性，高效性以及高画质著称。作为顶级全幅单反相机，早在2007年已经拥有2000万级别的传感器是十分了得的事情，比起中端全画幅单反相机，对焦系统的优势不是一点点，而是远超中端产品，45点对焦系统覆盖率相当高，可以随心所欲地选择对焦点。佳能的顶级单反相机专攻专业领域，针对体育及新闻采访设计的1D系列以10张/秒的连拍速度广受欢迎。    </div>
				 <div style="width:100%; margin-top:3%; overflow: scroll;text-indent:2em;line-height: 200%;" class="market-show-goods">   全画幅单反推出的年历不长，但却十分受欢迎，从佳能5D到今天的5D Mark II，全画幅传感器带来的优秀画质与中端单反的机身配置，造就了佳能中端全画幅单反相机极高的性价比，所以这两款产品的市场占有率都非常高，而且好评度也非常高。</div>
				 <div style="width:100%; margin-top:3%; overflow: scroll;text-indent:2em;line-height: 200%;" class="market-show-goods">佳能5D Mark II是第一款可拍摄全高清视频的单反相机，因采用全画幅传感器，所以在夜间拍摄视频也有较好的表现，推出以来更新过多次固件来完善其视频拍摄功能，所以至今佳能5D Mark II仍是最适合拍摄高清影片的单反相机，其视频拍摄功能也应用到不少专业领域，十分难得。</div>
			</div>
			<div class="decoration" style="background-color:#fff"></div>
		</div>
		<div class="click-collect" isCollect="0"><img src="/hnair/images/click-collect-none.png"></div>
		<div class="bar bar-tab bar-footer">
			<div style="float:left;width: 20%;line-height:2.5rem;font-size: 25px;color:red;text-align:right;">8500</div>
	        <div style="float: left;margin-left:1%;width: 24%;line-height:2.5rem;font-size: 15px;color: #1e1e1e;text-align: left;"> 福利会积分</div>
	        <div style="float: left;width: 30%;height:2.5rem;background-color: #ffb400;color: #fff;font-size: 15px;line-height:2.5rem;text-align: center;">
				<a href="/templates/market/shoppingCar.html" style="color:#fff">加入购物车</a>
	        </div>
	        <div style="float: left;width: 25%;height:2.5rem;background-color: #ce3f3f;color: #fff;font-size: 15px;line-height:2.5rem;text-align: center;">
	        <a href="/templates/market/submitOrders.html" style="color:#fff">购买</a>
	        </div>
		</div>
	</div>
</div>
</body>
</html>