<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>我的收藏</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../../public/SUI/dist/css/sm.min.css">
<link rel="stylesheet" type="text/css" href="../../public/css/public.css">
<script type="text/javascript" src="../../public/scripts/zepto.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
<script src="../../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="myCollect">
		<link href="../../public/market/styles/style.css" rel="stylesheet" type="text/css">
		<header class="bar bar-nav">
		  <a class="icon icon-left pull-left back" style="color:#fff;"></a>
		  <h1 class="title">我的收藏</h1>
		</header>
		<div class="content">
			<div class="item-list">
				<div class="item-box">
					<div style="border-bottom: 1px solid #f6f6f6;">
				        <div class="myCollect-title">
				           <a href="/templates/market/marketShow.html" ><img src="/hnair/images/dingdan_logo_03.png" style=" margin-right: 5px;   width: 30px;    float: left;"> <span>佳能相机</span></a>
				        </div>
				    </div>
				    <div style="background:#fff;margin:10px;">
				        <a href="/templates/market/marketShow.html" class="clearfix">
				        <div class="collect_img">
				            <img src="/hnair/images/market_show_14.png">
				        </div>
				        <div class="collect_title">
				            <div class="collect_title-1">
				                <span>佳能顶级单反1D</span>
				            </div>
				            <div class="collect_title-2">
				                <span>共1件商品</span>
				                <span class="collect_title-3">
				                    <span > 7500 </span>
				                    <span>福利会积分 </span>
				                </span>
				            </div>
				        </div>
				        </a>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>