<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>我的订单</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="../../public/SUI/dist/css/sm.min.css">
<link rel="stylesheet" type="text/css" href="../../public/css/public.css">
<script type="text/javascript" src="../../public/scripts/zepto.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
<script src="../../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="myOrder">
		<link href="../../public/market/styles/style.css" rel="stylesheet" type="text/css">
		<header class="bar bar-nav">
		  <a class="icon icon-left pull-left back" style="color:#fff;"></a>
		  <h1 class="title">我的订单</h1>
		</header>
		<div class="content">
			<div class="item-list">
				<div class="item-box">
					<div style="width:100%;height:40px;background-color:#fff;border-bottom:solid 1px #f6f6f6;">
				        <div class="delBtn" style="float:right;margin-right:10px; margin-right:15px;height:40px;"><img src="/hnair/images/del_icon_01.png" width="20" height="21" style="margin-top:10px;width:20px;height:21px;display:block;" alt="icon"></div>
				        <div style="float:left;margin-left:20px;height:40px;"><img src="/hnair/images/dingdan_logo_03.png" width="35" height="35" style="margin-top:2.5px;width:35px;height:35px;display:block;" alt="icon"></div>
				        <div style="float:left;font-size:16px;line-height:40px;margin-left:5px;">佳能相机</div>
				    </div>
				    <div style="width:100%;background-color:#fff;height:80px;">
				        <div style="float:left;width:60px;height:80px;margin-left:20px;margin-right:10px;padding:10px 0px;">
				            <img src="/hnair/images/dingdan_img_03.png" style="width:100%;height:60px;border-radius:8px;">
				        </div>
				        <div style="float:left;height:80px;">
				            <div style="float:left;font-size:20px;line-height:80px;">佳能相机1D</div>
				        </div>
				        <div style="float:right;">
				            <img src="/hnair/images/dingdan_wancheng_01.png" style="width:70px;height:60px;">
				        </div>
				    </div>
				    <div style="float:right;text-align:right;width:100%;border-top:solid 1px #f6f6f6;line-height:40px;background-color:#fff;font-size:15px;">
				        <div style="display:inline-block;width:90px;text-align:left;">共1件商品</div>
				        <div style="display:inline-block;margin-right:10px;">花费：<span style="color:#ce3f40;">8500</span><span id="">福利汇</span>积分</div>
				    </div>
				    <div style="float:left;width:100%;height:40px;background-color:#fff;border-top:solid 1px #f6f6f6;border-bottom:solid 1px #ccc;" class="clearfix">
				        <div style="float:right;width:105px;margin-top:6.5px;font-size:15px;">
				            <a href="/templates/market/marketShow.html" style="float:left;border:solid 1px #ce3f40;line-height:25px;color:#ce3f40;width:80px;text-align:center;border-radius:6px;">再次购买</a>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>