<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>购物车</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="../../public/SUI/dist/css/sm.min.css">
<link rel="stylesheet" type="text/css" href="../../public/css/public.css">
<script type="text/javascript" src="../../public/scripts/zepto.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
<script src="../../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
<body>
<div class="page-group">
	<div class="page page-current" id="shoppingCar">
		<link href="../../public/market/styles/style.css" rel="stylesheet" type="text/css">
		<header class="bar bar-nav">
		  <a class="icon icon-left pull-left back" style="color:#fff;"></a>
		  <a class="icon pull-right empty"><img src="/hnair/images/del_icon_01.png" style="width:19px;height:21px;"></a>
		  <h1 class="title">购物车</h1>
		</header>
		<div class="content">
			<div class="item-list">
				<div class="item-box">
					<div style="width:100%;">
				        <div style="width:100%;height:40px;background-color:#fff;border-bottom:solid 1px #f6f6f6;">
				            <div style="display:inline-block;margin-left:10px; margin-right:5px;height:40px;"><img src="/hnair/images/dingdan_logo_03.png" width="30" height="30" style="margin-top:5px; width:30px;height:30px;" alt="icon"></div>
				            <div style="display:inline-block; line-height:40px;font-size:16px; vertical-align: top;">佳能相机</div>
				        </div>
				        <div style="width:100%;background-color:#fff;height:80px;" class="clearfix">
				            <div style="float:left;height:60px;margin-left:10px;margin-right:5px;">
				                <img class="selected" value="1" src="/hnair/images/selected_01.png" style="width:22px;height:22px;margin-top:29px;">
				            </div>
				            <div style="float:left;width:60px;height:80px;margin-right:10px;padding:10px 0px;">
				                <img src="/hnair/images/dingdan_img_03.png" style="width:100%;height:60px;border-radius:8px;">
				            </div>
				            <div style="overflow:hidden;">
				                <div style="width:100%;height:80px;">
				                    <div style="float:none;font-size:20px;margin-top:10px;color:#666;">佳能相机1D</div>
				                    <div style="float:left;margin-top:10px;font-size:14px;">
				                        <span style="color:#ce3f40;">8500</span><span>福利汇积分</span>
				                    </div>
				                    <div style="float:right;margin-right:20px;margin-top:8px;border:solid 1px #ccc;border-radius:4px;">
				                        <div class="jian" style="float:left;width:23px;height:23px;"><img src="/hnair/images/jian_icon_01.png" style="width:14px;height:3px;margin-left:4px;margin-top:9.5px;"></div>
				                        <div class="number" style="float:left;width:30px;height:23px;border-left:solid 1px #ccc;border-right:solid 1px #ccc;"><input class="inputNum" type="number" score="7500" style="border:0px;width:100%;line-height:23px;height:23px;display:block;font-size:16px;text-align:center;color:#ce3f40;" value="1"></div>
				                        <div class="jia" style="float:left;width:23px;height:23px;"><img src="/hnair/images/jia_icon_01.png" style="width:14px;height:14px;margin-top:4px;margin-left:4px;"></div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="item-box">
					<div style="width:100%;">
				        <div style="width:100%;height:40px;background-color:#fff;border-bottom:solid 1px #f6f6f6;">
				            <div style="display:inline-block;margin-left:10px; margin-right:5px;height:40px;"><img src="/hnair/images/gouwuche_jiuyang_logo_01.png" width="30" height="30" style="margin-top:5px; width:30px;height:30px;"  alt="icon" ></div>
				            <div style="display:inline-block;line-height: 40px;font-size:16px; vertical-align:top;">九阳厨具</div>
				        </div>
				        <div style="width:100%;background-color:#fff;height:80px;">
				            <div style="float:left;height:60px;margin-left:10px;margin-right:5px;" >
				                <img class="selected" value="1" src="/hnair/images/selected_01.png" style="width:22px;height:22px;margin-top:29px;">
				            </div>
				            <div style="float:left;width:60px;height:80px;margin-right:10px;padding:10px 0px;">
				                <img src="/hnair/images/gouwuche_img_02.png" style="width:100%;height:60px;border-radius:8px;">
				            </div>
				            <div style="overflow:hidden;">
				                <div style="width:100%;height:80px;">
				                    <div style="float:none;font-size:20px;margin-top:10px;color:#666;">德国菲乐士厨具组合</div>
				                    <div style="float:left;margin-top:10px;font-size:14px;">
				                        <span style="color:#ce3f40;">14500</span><span>福利汇积分</span>
				                    </div>
				                    <div style="float:right;margin-right:20px;margin-top:8px;border:solid 1px #ccc;border-radius:4px;">
				                        <div class="jian" style="float:left;width:23px;height:23px;"><img src="/hnair/images/jian_icon_01.png" style="width:14px;height:3px;margin-left:4px;margin-top:9.5px;"></div>
				                        <div class="number" style="float:left;width:30px;height:23px;border-left:solid 1px #ccc;border-right:solid 1px #ccc;"><input class="inputNum" score="14500" type="number" style="border:0px;width:100%;line-height:23px;font-size:16px;text-align:center;color:#ce3f40;height:23px;display:block;" value="1"></div>
				                        <div class="jia" style="float:left;width:23px;height:23px;"><img src="/hnair/images/jia_icon_01.png" style="width:14px;height:14px;margin-top:4px;margin-left:4px;"></div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="bar bar-tab bar-footer">
			<div id="submit_btn" style="float:right;text-align:center;background-color:#ce3f40;color:#fff;font-size:16px;width:70px;line-height:2.5rem;">结算</div>
		    <div style="overflow:hidden;">
		        <div style="width:100%;line-height:2.5rem;text-align:right;font-size:16px;padding-right:1rem;">总计：<span id="sumScore" style="color:#ce3f40;">0</span> <span>福利汇</span>积分</div>
		    </div>
		</div>
	</div>
</div>
</body>
</html>