<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>支付成功</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="../../public/SUI/dist/css/sm.min.css">
<link rel="stylesheet" type="text/css" href="../../public/css/public.css">
<script type="text/javascript" src="../../public/scripts/zepto.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
<script src="../../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="success_pay">
		<link href="../../public/market/styles/style.css" rel="stylesheet" type="text/css">
		<header class="bar bar-nav">
		  <a class="icon icon-left pull-left back" style="color: #fff;"></a>
		  <h1 class="title">支付成功</h1>
		</header>
		<div class="content">
			<img style="width:35%;  margin:70px auto 25px auto;clear:both;display:block;" src="/hnair/images/success_pay_top.png">
			<h2 style="color:#ec7c02;text-align: center;font-weight:100;">恭喜您，支付成功!</h2>
			<!-- <div style="text-align:center;">支付成功，从您的账户中扣除8500福利汇积分</div> -->
		    <a href="/templates/market/market.html">
				<img style="width:90%;margin:60px auto 15px auto;display:block;" src="/hnair/images/success_pay_bottom.png">
			</a>
		</div>
	</div>
</div>
</body>
</html>