<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的积分</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
</head>
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current" id="page-1486623269008">
        <div>
            <div style="padding:10px;">
                <a class="icon icon-me pull-left open-panel" data-panel='#panel-left-demo'></a>
                <span class="icon icon-menu pull-right open-panel">明细</span>
                <div class="buttons-row" style="margin:0 auto;width:40%;">
                    <a href="#tab1" class="tab-link active button">积分</a>
                    <a href="#tab2" class="tab-link button">卡券</a>
                </div>
                <p style="margin:0;text-align:center;margin-top:.8em; font-family:'Microsoft YaHei';">账户积分总值</p>
                <p style="margin:0;text-align:center;font-size: 2.5em; line-height:1em;">190</p>
                <div>
                    <span>今日涨幅:3.82%</span>
                    <span class="pull-right">资产估值仅供参考</span>
                </div>
            </div>

            <!--我的积分账户-->
            <div style="background-color:#f9f9f9; height:2.75em; line-height:2.75em; padding: 0 10px; font-family:'Microsoft YaHei'; ">
                <span>我的积分账户</span>
                <span class="pull-right">一键全换</span>
            </div>
            <div>
                <div style="height:3.65em; background-color:#fff;">
                    <div class="pull-left" style="width:16%; height:3.65em; line-height:3.65em;">j</div>
                    <div class="pull-right" style="width:20%; line-height:3.65em;">24</div>
                    <div style="height:3.65em; overflow:hidden;">
                        <span style="font-size: .8em;display: block; margin-top:.6em;">滴滴专车</span>
                        <span style="font-size: .6em;">最近到期:2017-09-26</span>
                    </div>
                </div>
            </div>
            <!--<div class="card" style="margin:0;">-->
            <!--<div class="card-content">-->
            <!--<div class="card-content-inner">这是一个用纯文本的简单卡片。但卡片可以包含自己的页头，页脚，列表视图，图像，和里面的任何元素。</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>




        <!--底部栏-->
        <nav class="bar bar-tab">
            <a class="tab-item external active" href="#">
                <span class="icon icon-home"></span>
                <span class="tab-label">钱包</span>
            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-me"></span>
                <span class="tab-label">兑换</span>
            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-star"></span>
                <span class="tab-label">公益</span>
            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-star"></span>
                <span class="tab-label">商城</span>
            </a>
        </nav>

    </div>
</div>



<script type="text/javascript" src="//g.alicdn.com/sj/lib/zepto/zepto.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../dist/js/sm.js" charset="utf-8"></script>
<script type="text/javascript" src="../../dist/js/sm-extend.js" charset="utf-8"></script>
<script>
    $.init();
</script>


</body>
</html>