<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>账户说明</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/SUI/dist/css/sm.min.css">
    <script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../public/css/public.css">
    <link rel="stylesheet" href="../public/css/exchange.css">
    <script src="../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="account">
		<link rel="stylesheet" type="text/css" href="../public/css/account.css"/>
		<div>
		<header class="bar bar-nav">
		  <a class="icon icon-left pull-left back"></a>
		  <h1 class="title">积分账户说明</h1>
		</header>
		<!-- 这里是内容部分 -->
		<div class="content_ content">
			<div class="explain">
				<p>1、亮处显示的内容是积分账户已经关联的积分名称、余额，估值数量。</p>
				<img src="../public/images/help/help4.png">
			</div>
			<div class="explain">
				<p>2、下图亮处显示的是尚未关联的积分列表。</p>
				<img src="../public/images/help/help5.png">
			</div>
			<div class="explain">
				<p>3、要想去关联没有关联过的积分商家，可点击进入关联页面。</p>
				<img src="../public/images/help/help6.png">
			</div>
			<div class="explain">
				<p>4、您也可以点击批量关联，进入批量关联页面关联所有可批量关联的积分商家。</p>
				<img src="../public/images/help/help7.png">
			</div>
			<div class="explain">
				<p>5、积分交换平台的作用是什么？</p>
				<img src="../public/images/help/help8.png">
			</div>
			<div class="explain">
				<p>6、进入积分交换页面，有两种途径。第一种是点击已关联的积分列表进入；第二种就是点击底部栏兑换进入。</p>
				<img src="../public/images/help/help9.png">
			</div>
		</div>
		</div>
		

	</div>
</div>
</body>
</html>