<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>帮助</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/SUI/dist/css/sm.min.css">
    <script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../public/css/public.css">
    <script src="../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="assistance">
		<link rel="stylesheet" type="text/css" href="../public/css/assistance.css"/>
		<header class="bar bar-nav">
		  <a href="/templates/wallet.html?s=0" class="icon icon-left pull-left"></a>
		  <h1 class="title">帮助</h1>
		</header>
		<div class="content_">
			<ul>
				<li>
					<a href="/templates/help/Valuation.html">
					积分估值说明
					<div class="border_quarter"></div>
					</a>
					<img src="../public/images/forward.png">
				</li>
				<li>
					<a href="/templates/help/integral_account.html">
					积分账户说明
					<div class="border_quarter"></div>
					</a>
					<img src="../public/images/forward.png">
				</li>
				<li>
					<a href="/templates/help/user_association.html">
					用户关联功能说明
					<div class="border_quarter"></div>
					</a>
					<img src="../public/images/forward.png">
				</li>
				<li>
					<a href="/templates/help/changeorder.html">
					积分兑换的操作
					<div class="border_quarter"></div>
					</a>
					<img src="../public/images/forward.png">
				</li> 
				<li>
					<a href="/templates/help/kill_order.html">
					挂单后想撤单怎么办
					<div class="border_quarter"></div>
					</a>
					<img src="../public/images/forward.png">
				</li> 
				<li>
					<a href="/templates/help/all_change.html">
					怎么快速兑换全部积分
					<div class="border_quarter"></div>
					</a>
					<img src="../public/images/forward.png">
				</li> 
			</ul>
		</div>
	</div>
</div>
</body>
</html>