<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>撤单</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/SUI/dist/css/sm.min.css">
    <script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../public/css/public.css">
    <link rel="stylesheet" href="../public/css/exchange.css">
    <script src="../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="batch">
		<link rel="stylesheet" type="text/css" href="../public/css/batch.css"/>
		<div>
		<header class="bar bar-nav">
		  <a class="icon icon-left pull-left back"></a>
		  <h1 class="title">撤单</h1>
		</header>
		<!-- 这里是内容部分 -->
		<div class="content_ content">
			<div class="explain">
				<p>1、在钱包首页点击批量交换，进入批量交换页面。</p>
				<img src="../public/images/help/help19.png">
			</div>
			<div class="explain">
				<p>2、在兑换目标处点击按钮，选择要换入的积分，在下面列表中选择要换出的积分。</p>
				<img src="../public/images/help/help20.png" style="width: 49%;">
				<img src="../public/images/help/help21.png" style="width: 49%;float: right;">
			</div>
			<div class="explain">
				<p>3、选择完毕之后，点击页面底部一键全换按钮，进行交换。</p>
				<img src="../public/images/help/help22.png">
			</div>
		</div>
		</div>
	</div>
</div>
</body>
</html>