<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>全部兑换</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/SUI/dist/css/sm.min.css">
    <script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../public/css/public.css">
    <script src="../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="change_all">
		<link rel="stylesheet" type="text/css" href="../public/css/change_all.css"/>
		<header class="bar bar-nav">
		  <a class="icon icon-left pull-left back"></a>
		  <h1 class="title">批量挂单</h1>
		</header>
		<div class="content native-scroll">
			<div class="exchange">
				<div class="exchange_target">
					<span>兑换目标</span>
					<span class="choose radio-unit" radio-unit="0">请选择</span>
				</div>
				<div class="exchange_num">
					<span>兑换数量：</span>
					<span class="number" data-type="asset">0</span>
				</div>
			</div>
			<div class="empty"></div>
			<div class="all">
				<div class="clearfix">
					<ul class="title_ clearfix">
					<li id="hehe">换入数量</li>
					<li>积分余额</li>
					<li>积分名称</li>
					</ul>
				</div>
				<div class="all-list">
					<div class="all-list">
						<ul class="clearfix substance" data-type="getIntegrallist">
						</ul>
					</div>
				</div>
			</div>
      <div class="cn_father">
  			<div class="change_now">一键全换</div>
  		</div>
		</div>
	</div>
</div>
</body>
</html>
