<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>兑换积分入口</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/SUI/dist/css/sm.min.css">
    <script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../public/css/public.css">
    <link rel="stylesheet" href="../public/css/exchange.css">
    <script src="../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="convert">
		<link rel="stylesheet" type="text/css" href="../public/css/convert.css"/>
		<div>
		<header class="bar bar-nav">
		  <a class="icon icon-left pull-left back"></a>
		  <h1 class="title">兑换积分入口</h1>
		</header>
		<!-- 这里是内容部分 -->
		<div class="content_ content">
			<div class="explain">
				<p>1、在积分兑换页面，您可以进行挂单兑换操作。</p>
				<img src="../public/images/help/help10.png">
			</div>
			<div class="explain">
				<p>2、若要换出某种积分，就从上面的积分列表中将您要换出的积分拖动到中间的“我有”框中。</p>
				<img src="../public/images/help/help11.png">
			</div>
			<div class="explain">
				<p>3、若想要换入某种积分，就从下面的积分列表中将您要换入的积分拖动到中间的“我要”框中。</p>
				<img src="../public/images/help/help12.png">
			</div>
			<div class="explain">
				<p>4、当您选择好将要换出和将要换入的积分后，点击中间“使用推荐比例按钮”，系统将会自动根据交换比例填入换出和换入数量。
				当然，您也可以手动修改换出换入的值，但使用推荐比例可保证成交的速度为最快。</p>
				<img src="../public/images/help/help13.png" style="width:49%;">
				<img src="../public/images/help/help15.png" style="width:49%;float: right;">
			</div>
			<div class="explain">
				<p>5、选好交换的积分和交换比例之后，点击“确认挂单”按钮，进行挂单。</p>
				<img src="../public/images/help/help14.png">
			</div>
			<div class="explain">
				<p>6、作为一位高级玩家，可能您想了解更多挂单市场的详情，以作为您决定交换比例的依据，您可以点击亮处走势按钮查看详情。</p>
				<img src="../public/images/help/help16.png">
			</div>
			<div class="explain">
				<p>7、若在挂单完成之后，想要查看挂单详情的话，点击右上角挂单进入查看挂单详情。</p>
				<img src="../public/images/help/help17.png">
			</div>
		</div>
		</div>
		

	</div>
</div>
</body>
</html>