<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>授权协议</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/SUI/dist/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/public.css">
    <script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
	<script src="../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current clearfix" id="help">
        <header class="bar bar-nav" style="background-color:#394351;">
            <h1 class="title" style="color:#fff;">关联账户授权书</h1>
            <a href="#" class="icon icon-left pull-left back" style="color:#fff;"></a>
        </header>
        <div class="content">
			<div class="content-padded">
<h1>积分交换平台帐户关联授权协议</h1>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">用户应当同意《积分交换平台用户协议》的条款并按照积分交换平台网站相关页面上的提示完成全部的积分交换平台用户注册程序，正式注册成为积分交换平台用户（以下简称“用户”）。用户接受本协议后，在第三方网站或应用的相关行为，仍应遵守《积分交换平台用户协议》。用户点击本页面“同意连接”按钮，即表示用户与积分交换平台达成协议，完全接受本协议项下的全部条款。
本协议可由积分交换平台随时更新，且无需另行通知。用户在点击“同意连接”按钮之前，应仔细阅读本协议。积分交换平台尊重并保护每一位积分交换平台用户的账户隐私安全。在用户正式点击本页面“同意连接”按钮前，请用户确认此第三方网站或应用，并希望该第三方网站或应用访问您的积分交换平台账户。 积分交换平台仅对用户和第三方网站或应用之间就使用用户的积分交换平台账号提供技术服务，该第三方网站或应用并非积分交换平台的关联主体，积分交换平台不对该第三方网站或应用内的信息、内容和/服务等承担任何法律责任。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">总则</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">1. 积分交换平台账户连接服务允许访问指定第三方网站或应用的用户，通过积分交换平台账户直接进行登录，分享内容，同步信息。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">2. 用户接受本协议，则应视为用户授予指定的第三方网站或应用对该用户积分交换平台账户的访问权限，并允许该第三方网站或应用通过调用接口的方式收集并获取必要的用户信息，以用于改进为用户提供的服务，并进行内容发布与分享等服务。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">3. 用户应当通过由积分交换平台提供的与第三方网站或应用之间账号连接技术服务进行登录操作，用户应当对其积分交换平台账户连接过程中及连接后进行的所有活动及结果独立承担责任。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">4．第三方网站或应用经营者应保证其网站或应用内的相关信息、服务等符合国家相关法律法规的规定，不得侵害任何其他方的合法权益。因用户使用第三方网站或应用的相关服务遭受损失的，该第三方网站或应用的经营者应承担全部法律责任。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">5.用户应遵守第三方网站或应用内的相关用户协议、服务规范等。</p>
隐私保护
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">1. 如用户发现其积分交换平台账户遭他人非法访问或使用，应立即通知积分交换平台。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，积分交换平台不承担任何责任。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">2. 积分交换平台不对外公开或向第三方提供单个用户的注册资料，除非：</p>
（1）事先获得用户的明确授权；
（2）只有透露你的个人资料，才能提供你所要求的产品和服务；
（3）根据有关的法律法规要求；
（4）按照相关政府主管部门的要求；
（5）为维护积分交换平台的合法权益。
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">3.本协议中所约定的服务适用《积分交换平台用户协议》和《积分交换平台隐私权保护声明》中的相关规定。</p>
免责声明</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">1. 鉴于网络服务的特殊性，用户同意积分交换平台有权变更、中断或终止部分或全部账户连接服务。上述变更、终端或终止，在积分交换平台通知用户情况下，积分交换平台无需对用户承担任何责任。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">2. 用户理解，积分交换平台需对其账户连接服务定期或不定期进行升级、维护，如因此类情况造成用户享有服务受到影响，积分交换平台无需为此承担任何责任，但积分交换平台应尽可能事先通知用户。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">3. 若发生用户违背本协议约定或违反法律、法规规定之情形，由用户自行承担一切法律、经济后果，积分交换平台不承担任何责任。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">4．特别地，积分交换平台在本协议所约定的服务中仅提供了对于第三方网站或应用的登录接口的技术服务。相关第三方网站或应用内的信息、服务等由第三方提供。该第三方网站或应用内信息、服务等的合法性、安全性以及真实性，应由该第三方网站或应用经营者负责。用户应审慎地判断该第三方网站或应用内服务的合法性等。如果用户在使用该第三方网站或应用时遭受任何损失，用户应自行与该第三方网站或应用的经营者进行协商解决。用户确认，不会因此向积分交换平台追究任何形式的法律责任。
其他</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">1. 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">2. 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向积分交换平台公司所在地的人民法院提起诉讼。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">3. 积分交换平台未行使或执行本协议任何权利或规定，不构成对前述权利或权利之放弃。</p>
<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">4. 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>
			</div>
        </div>
    </div>
</body>
</html>
