<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>帮助</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/SUI/dist/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/public.css">
    <script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
	<script src="../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current clearfix" id="help">
        <header class="bar bar-nav" style="background-color:#394351;">
            <h1 class="title" style="color:#fff;">帮助</h1>
            <a href="#" class="icon icon-left pull-left back" style="color:#fff;"></a>
        </header>
        <div class="content">
			<div class="content-padded">
				<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;"><font color="red">积分资产总估值</font>是系统根据实时成交价格，
				将您所有关联的积分账户中积分资产余额换算成一种积分的总和。</p>
				<p style="font-size:0.8rem;line-height:1.2rem; text-align: left;text-indent: 2em;">资产总值的<font color="red">单位</font>是通过您关联的积分作为单位进行的衡量的，
				您可以点击积分总估值后的<font color="red">单位按钮</font>切换衡量单位。</p>
			</div>
        </div>
    </div>
</body>
</html>
