<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>交易明细</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/SUI/dist/css/sm.min.css">
    <script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../public/css/public.css">
    <link rel="stylesheet" href="../public/css/exchange.css">
    <script src="../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="integration_details">
		<link rel="stylesheet" type="text/css" href="../public/css/integration_details.css"/>
		<header class="bar bar-nav">
		  <a class="icon icon-left pull-left back"></a>
		  <h1 class="title">积分交易明细</h1>
		</header>
		<!-- 这里是内容部分 -->
		<div class="content">
			<div class="top clearfix">
				<ul class="choose_title clearfix">
					<li><a href="#" class="active_bottom">全部</a></li>
					<li><a href="#">积分类型</a></li>
					<li><a href="#">业务类型</a></li>
				</ul>
			</div>
			<div class="content_">
				<ul class="list_father">
					<li class="clearfix items_" style="position:relative;">
						<a class="clearfix" href="#">
							<span class="b_logo">
								<img src="../public/images/xibei_bgc.png">
							</span>
							<div class="notestimate">
								<p style="font-size:0.74rem;">滴滴专车</p>
								<p class="balance">
								<span>购买卡券</span></p>
							</div>
							<div class="estimate">
								<p style="font-size:1rem;text-align:right;">-10</p>
								<p class="balance">
								<span>2017.02.06</span></p>
							</div>
						</a>
					</li>
					<li class="clearfix items_" style="position:relative;">
						<a class="clearfix" href="#">
							<span class="b_logo">
								<img src="../public/images/xibei_bgc.png">
							</span>
							<div class="notestimate">
								<p style="font-size:0.74rem;">京东商城</p>
								<p class="balance">
								<span>积分交换</span></p>
							</div>
							<div class="estimate">
								<p style="font-size:1rem;text-align:right;">+1000</p>
								<p class="balance">
								<span>2017.02.06</span></p>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<ul  class="list" id="integratin_type">
				<li>积分类型</li>
				<li>积分类型</li>
				<li>积分类型</li>
				<li>积分类型</li>
			</ul>
			<ul  class="list" id="business_type">
				<li>业务类型</li>
				<li>业务类型</li>
				<li>业务类型</li>
				<li>业务类型</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>