<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>昵称设置</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/SUI/dist/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/public.css">
    <script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
	<script src="../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current clearfix" id="modify_name">
    <link rel="stylesheet" href="../public/css/modify_name.css">
        <header class="bar bar-nav">
            <h1 class="title">昵称设置</h1>
            <a href="/templates/wallet.html?s=0" class="icon icon-left pull-left" style="color:#fff;"></a>
            <!-- <a href="javascript:history.go(-1)" style="color: white;z-index: 1000;">返回</a> -->
        </header>
        <div class="content">
            <div class="modify">
                <input type="text" name="" placeholder="请输入昵称" id="name">
            </div>
            <input type="submit" id="bt" value="保存" class="confirm classinput">
        </div>
    </div>
</body>
</html>
