<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>全部兑换</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="../public/SUI/dist/css/sm.min.css">
    <link rel="stylesheet" href="../public/css/public.css">
    <script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
	<script src="../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page page-current clearfix  content native-scroll" id="onekeyExchange">
        <link rel="stylesheet" type="text/css" href="../public/css/onekeyExchange.css">
        <header class="bar bar-nav">
            <h1 class="title">全部兑换</h1>
            <a href="#" class="icon icon-left pull-left back" style="color:#fff;"></a>
        </header>
        <div class='content native-scroll'>
        <div class="target">
            兑换目标:
            <span class="currency radio-unit">福币</span>
        </div>
        <div style="background-color: #f9f9f9;height: 0.65rem;"></div>
        <div class="estimate">
            <p>全部账户积分大约可兑换</p>
            <div class="figure">
                <span class="button btn-subtract">-</span>
                <span class="input_text"><input type="number" name="num" value="" /></span>
                <span class="button btn-add">+</span>
            </div>
            <p class='tips'><img src="../public/images/prompt.png">&nbsp;默认数据仅供参考，手动调整数值将影响成交周期</p>
        </div>
        <div class="account">
            <div class='title_'>已关联账户</div>
            <div class="account-list">
                    <ul node-type="relateMember">

                    </ul>
            </div>
            <!-- 一键全换 -->
            <div class='btn_onekey'>
                    一键全换
            </div>
        </div>
        </div>
        

</div>
</body>
</html>
