
<html>
<head>

<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">

<script type="text/javascript" src="../public/scripts/zepto.min.js" charset="utf-8"></script>
<style>
.scroll-wrapper {
	position: absolute;   
	right: 0;   
	bottom: 0;   
	left: 0;  
	top: 0;  
	-webkit-overflow-scrolling: touch;  
	overflow-scrolling: touch; 
	overflow-y: scroll;  
	width:100%;
	height:100%;
}

.scroll-wrapper object{
	width:100%;
	height:100%;
	display:block;
}
</style>

</head>
<body>
<div class="scroll-wrapper">
 <object name="object" data="http://m.benefit.hnagroup.com/" height="900"></object>
    </div>   


</body>
</html>