<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>公益</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<link rel="stylesheet" href="../../public/SUI/dist/css/sm.min.css">
<link rel="stylesheet" type="text/css" href="../../public/css/public.css">
<script type="text/javascript" src="../../public/scripts/zepto.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
<script src="../../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="project">
		<link rel="stylesheet" href="../../public/Swiper/dist/css/swiper.min.css" />
		<link rel="stylesheet" href="../../public/css/project.css" />
		<!-- <link href="../../public/market/styles/style.css" rel="stylesheet" type="text/css"> -->
		<!--<link href="../../public/market/styles/owl.theme.css" rel="stylesheet" type="text/css">
		<link href="../../public/market/styles/font-awesome.css" rel="stylesheet" type="text/css">-->
		<div class="content infinite-scroll-bottom" data-distance="100">
			<div class="slider-container">
   				<img src="/hnair/images/gongyi-banner.jpg" style="width:100%;" alt="img">
			</div>
			<div style="padding:0 3%;background:#fff;font-size:18px;line-height:40px;">
			    <a href="javascript:void(0);" action-type="project_list" style="color:#cf271a;width:50%;display:block;float:left;height:40px;text-align: center;"><span >公益项目</span></a>
			    <a href="javascript:void(0);" action-type="myTrade" style="width:50%;display:block;float:left;height:40px;text-align: center;" ><span >我的捐赠</span></a>
			</div>
			<div style="width:100%; margin-top:3%;">
			    <div class="portfolio-adaptive adaptive-onea adaptive-two clearfix" page="0" totalPage="1" list="0" is_load="0" node-type="project-list" ></div>
			</div>
		</div>
		<!--底部栏-->
        <nav class="bar bar-tab bar-footer">
            <a class="tab-item external" href="/templates/wallet.html">
                <i class="footer-icon icon-qb"></i>
                <span class="tab-label tab_bottom">钱包</span>
            </a>
            <a class="tab-item external" href="/templates/exchange.html">
                <i class="footer-icon icon-dh"></i>
                <span class="tab-label tab_bottom">兑换</span>
            </a>
            <a class="tab-item external active" href="/templates/project/project.html">
                <i class="footer-icon icon-gy"></i>
                <span class="tab-label tab_bottom">公益</span>
            </a>
           <!--  <a class="tab-item external" href="/templates/market/market.html">
                <i class="footer-icon icon-shch"></i>
                <span class="tab-label tab_bottom">商城</span>
            </a> -->
             <a class="tab-item external" href="/templates/cards.html">
                <i class="footer-icon icon-shch"></i>
                <span class="tab-label tab_bottom">卡券</span>
            </a>
        </nav>
	</div>
</div>
</body>
</html>
