<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>市场</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<link rel="stylesheet" href="../../public/SUI/dist/css/sm.min.css">
<link rel="stylesheet" type="text/css" href="../../public/css/public.css">
<script type="text/javascript" src="../../public/scripts/zepto.min.js" charset="utf-8"></script>
<script type="text/javascript" src="../../public/SUI/dist/js/sm.min.js" charset="utf-8"></script>
<script src="../../public/scripts/Public.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="page-group">
	<div class="page page-current" id="market">
		<link rel="stylesheet" href="../../public/Swiper/dist/css/swiper.min.css" />
		<link href="../../public/market/styles/style.css" rel="stylesheet" type="text/css">
		<!--<link href="../../public/market/styles/owl.theme.css" rel="stylesheet" type="text/css">
		<link href="../../public/market/styles/font-awesome.css" rel="stylesheet" type="text/css">-->
		<header class="bar bar-nav">
		  <h1 class="title">进度追踪</h1>
		  <a href="" class="icon icon-left pull-left back" style="color:#fff;"></a>
		</header>
		<div class="content"  style="background-color:#fff;">
		<div style="background-color:#fff;">
		<div style="width:95%; margin:auto; background-color:#fff;" class="clearfix">	
			<div style="margin-top:10px; ">
				<!-- left -->
				<div style="float:left; width:10%; margin:10vw 0 0 1vw;">
					<div style="width:100%">
						<img src="/public/market/images/plan_plane_yellow.png" width="100%" style="display: block;">
					</div>
					<div style="width:100%;text-align: center;">
						<img src="/public/market/images/plan_wire_green.png" style="margin:5px auto; width:2.5px;display: block;">
					</div>
					<div style="width:100%">
						<img src="/public/market/images/plan_plane_green.png" width="100%" style="display: block;">
					</div>
					<div style="width:100%;text-align: center;">
						<img src="/public/market/images/plan_wire_blue.png" style="margin:5px auto; width:2.5px;display: block;">
					</div>
					<div style="width:100%;">
						<img src="/public/market/images/plan_plane_blue.png" width="100%" style="display: block;">
					</div>
				</div>
				
				<!-- right -->
				<div style="float:right; width:86%; " data-type="tradeplan">
											
				</div>
				
			</div>
		</div>	
		</div>	
		<div class="page-load"></div> 
		</div>
	</div>
</div>
</body>
</html>